/* General */
body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 72px;
}
h1 a {
  color: #999;
}
.selection {
  height: 98px;
  background-image: url(../images/selection.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}
.select-drug,
.select-reaction {
  width: 50%;
  height: 98px;
  float: left;
  text-indent: -133337px;
}
.selection-left {
  height: 98px;
  /*background-image: url(../images/selection-left.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;*/
}
/*.triangle-with-shadow {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}*/
.search-form {
  border-radius: 10px;
  padding: 20px;
}
/*#search-drug {
  background: #15489a;
}
  
#search-reaction {
  background: #6fabdd;
}
*/
.add-field {
  font-size: 64px;
}
.add-field a,
.label-info a {
  color: white;
}
#results {
  display: none;
  width: 204px;
  display: absolute;
  border: 1px solid #c0c0c0;
}
#results .item {
  padding: 3px;
  font-family: Helvetica;
  border-bottom: 1px solid #c0c0c0;
}
#results .item:last-child {
  border-bottom: 0px;
}
#results .item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* Override Bootstrap Styles */
.other-color {
  background: green !important;
}
/* Spacers */
.spacer-top-40 {
  margin-top: 40px;
}
.spacer-bottom-40 {
  margin-bottom: 40px;
}
.spacer-top-30 {
  margin-top: 30px;
}
.spacer-bottom-30 {
  margin-bottom: 30px;
}
.spacer-top-20 {
  margin-top: 20px;
}
.spacer-bottom-20 {
  margin-bottom: 20px;
}
.spacer-top-15 {
  margin-top: 15px;
}
.spacer-bottom-15 {
  margin-bottom: 15px;
}
.spacer-top-10 {
  margin-top: 15px;
}
.spacer-bottom-10 {
  margin-bottom: 15px;
}
.spacer-padding-bottom-5 {
  padding-bottom: 5px !important;
}
.spacer-padding-top-5 {
  padding-top: 5px !important;
}
/* Fonts */
.searchboxtext {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em !important;
  text-transform: uppercase;
  color: #222222 !important;
}
/* Headings */
.heading {
  margin: 1em 0 0.9em 0;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  text-shadow: 0 8px 1px rgba(0, 0, 0, 0.4);
  font-size: 55px;
  line-height: 40px;
  color: #355681;
  /* text-transform: uppercase; */
  /* border-bottom: 1px solid rgba(53, 86, 129, 0.3); */
}
.gradient-drug-search {
  background: -webkit-linear-gradient(#154898, #6c95ce);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#154898, #6c95ce);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#154898, #6c95ce);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#154898, #6c95ce);
  /* Standard syntax */
}
.gradient-reaction-search {
  background: -webkit-linear-gradient(#70aadc, #adcdec);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#70aadc, #adcdec);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#70aadc, #adcdec);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#70aadc, #adcdec);
  /* Standard syntax */
}
/* borders */
.radius-all {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 10px #888888;
}
.template-bg {
  background: #FFF;
}
.template-border {
  border: 10px solid rgba(255, 255, 255, 0.2);
}
/* Triangle and border */
.triangle-isosceles.top {
  position: absolute;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
  background: -moz-linear-gradient(#f3961c, #f9d835);
  background: -o-linear-gradient(#f3961c, #f9d835);
  background: linear-gradient(#f3961c, #f9d835);
}
.triangle-isosceles {
  z-index: -1;
  top: 100px;
  right: 5px;
  position: relative;
  padding: 85px;
  /* margin: 1em 0 3em; */
  color: #000;
  background: #f3961c;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background: -moz-linear-gradient(#f9d835, #f3961c);
  background: -o-linear-gradient(#f9d835, #f3961c);
  background: linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  /* border-radius: 10px; */
  width: 412px;
  height: 225px;
}
.triangle-isosceles.top:after {
  top: -35px;
  right: 96px;
  bottom: auto;
  left: auto;
  border-width: 0 34px 36px;
  border-color: #f3961c transparent;
}
.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f3961c transparent;
  display: block;
  /* width: 33px; */
}
