#keyword {
  width: 200px;
  font-size: 1em;
}
#results {
  display: none;
  width: 204px;
  display: absolute;
  border: 1px solid #c0c0c0;
}
#results .item {
  padding: 3px;
  font-family: Helvetica;
  border-bottom: 1px solid #c0c0c0;
}
#results .item:last-child {
  border-bottom: 0px;
}
#results .item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
