/* General */
body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
}
  
h1 {
  font-size: 72px;
}
  
h1 a {
  color: #999;
}
  
.selection {
  height: 98px;
  background-image: url(../images/selection.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.select-drug,
.select-reaction {
  width: 50%;
  height: 98px;
  float: left;
  text-indent: -133337px;
}

.selection-left {
  height: 98px;
  /*background-image: url(../images/selection-left.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;*/
}

  
.search-form {
  border-radius: 10px;
  padding: 20px;
}

/*#search-drug {
  background: #15489a;
}
  
#search-reaction {
  background: #6fabdd;
}
*/
  
.add-field {
  font-size: 64px;
}
  
.add-field a,
.label-info a {
  color: white;
}

#results {
  display: none;
  width: 204px;
  display: absolute;
  border: 1px solid #c0c0c0;
}
#results .item {
  padding: 3px;
  font-family: Helvetica;
  border-bottom: 1px solid #c0c0c0;
}
#results .item:last-child {
  border-bottom: 0px;
}
#results .item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
/* Override Bootstrap Styles */
.other-color {
  background: green !important;
}
/* Spacers */
.spacer-top-40 {
  margin-top: 40px;
}
.spacer-bottom-40 {
  margin-bottom: 40px;
}

.spacer-top-30 {
  margin-top: 30px;
}
.spacer-bottom-30 {
  margin-bottom: 30px;
}

.spacer-top-20 {
  margin-top: 20px;
}
.spacer-bottom-20 {
  margin-bottom: 20px;
}

.spacer-top-15 {
  margin-top: 15px;
}
.spacer-bottom-15 {
  margin-bottom: 15px;
}

.spacer-top-10 {
  margin-top: 15px;
}
.spacer-bottom-10 {
  margin-bottom: 15px;
}

.spacer-padding-bottom-5 {
    padding-bottom:5px !important;
}

.spacer-padding-top-5 {
    padding-top:5px !important;
}

/* Fonts */
.searchboxtext {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.1em !important;
  text-transform: uppercase;
  color: #222222 !important;
}
/* Headings */
.heading {
  margin: 1em 0 0.9em 0;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  text-shadow: 0 8px 1px rgba(0, 0, 0, 0.4);
  font-size: 55px;
  line-height: 40px;
  color: #355681;
  /* text-transform: uppercase; */
  /* border-bottom: 1px solid rgba(53, 86, 129, 0.3); */
}

.gradient-drug-search {
    background: -webkit-linear-gradient(#154898, #6C95CE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#154898, #6C95CE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#154898, #6C95CE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#154898, #6C95CE); /* Standard syntax */
}

.gradient-reaction-search {
    background: -webkit-linear-gradient(#FF6600, #FFCB65); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF6600, #FFCB65); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF6600, #FFCB65); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF6600, #FFCB65); /* Standard syntax */
}

//.gradient {
//    background: -webkit-linear-gradient(#75bd25, #343a44); /* For Safari 5.1 to 6.0 */
//    background: -o-linear-gradient(#75bd25, #343a44); /* For Opera 11.1 to 12.0 */
//    background: -moz-linear-gradient(#75bd25, #343a44); /* For Firefox 3.6 to 15 */
//    background: linear-gradient(#75bd25, #343a44); /* Standard syntax */
//}

/* borders */
.radius-all {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0px 0px 10px #888888;
}

.template-bg {
    background: #FFF;
}

.template-border {
    border: 10px solid rgba(255, 255, 255, 0.2);
}

/* triangles */

#search-drug:before,
#search-reaction:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 48px;
  width: 100%;
  height: 50px;
  background-image: url(../images/selection-triangles.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom center;
} 
 
.table>tbody>tr.success>td {
	background-color: rgba(255, 255, 255, 0) !important;
}

#drug_table_div #drug_table {
	color: #fff;
}

#myDiv span {
	Color: blue;
	text-decoration: underline;
	cursor: pointer; 
	cursor: hand;
}

#btnDiv {
	padding: 0px 0px 15px 0px;
}

#resetBtn {
	border-radius: 25px;
	border-color: #fff;
	background-color:  rgba(255, 255, 255, 0);
	color: #fff;
	float: right;
}

#resetBtn:focus {
  outline: none;
}

#statBtn {
	border-radius: 25px;
	border-color: #fff;
	background-color:  rgba(255, 255, 255, 0);
	color: #fff;
	float: left;
}

#statBtn:focus {
	outline: none;
}

#drug-info li {
	list-style-type: none;
}

#bg-li {
	width: 100px;
	height: 100px;
}

/* Bootstrap Overrides */
/*.nav-pills {
  background-color:#154898;
}
.tab-content {
    background-color:#154898;
    color:#fff;
    padding:5px
}
.nav-pills > li > a {
  border: medium none;
}
.nav-pills > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}
*/
//.nav-pills>li:first-child.active>a, .nav-pills>li:first-child.active>a:focus, .nav-pills>li:first-child.active>a:hover {

.tab-content {
    background-color:#154898;
    color:#fff;
    padding:5px;
    border-radius: 0 0 8px 8px;
}

.nav-pills>li:first-child.active>a, .nav-pills>li:first-child.active>a:focus, .nav-pills>li:first-child.active>a:hover {
    color: #fff;
    background-color: #154898;
}

.nav-pills li:first-child>a, .nav-pills li:first-child>a:focus, .nav-pills li:first-child>a:hover {
    color: #fff;
    background-color: #154898;
}

.nav-pills>li:last-child.active>a, .nav-pills>li:last-child.active>a:focus, .nav-pills>li:last-child.active>a:hover {
    color: #fff;
    background-color: #FF6600;
}

.nav-pills li:last-child>a, .nav-pills li:last-child>a:focus, .nav-pills li:last-child>a:hover {
    color: #fff;
    background-color: #FF6600;
}

.nav-pills>li>a {
    border-radius: 8px 8px 0 0 !important;
}

.nav>li:last-child>a {
    margin: 0 -2px 0px 0px;
}
